@page
@using ChatWatchApp.Pages;
@model DashLogModel

@{
    ViewData["Title"] = "Event Log";
}

<h1>Message log</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Player Name (&rarr; Recipient Name)</th>
            <th>Server of Origin</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entries) {
        <tr class="@(
            item.Type == EventLogEntry.EntryType.PrivateMessage ?
                "border border-5 border-warning" :
                "border"
        )">
            <td>
                @Html.DisplayFor(modelItem => item.Data.Timestamp)
            </td>
            <td>
                @Model.FormatName(item.Data.Sender)
                @if(item.Type == EventLogEntry.EntryType.PrivateMessage) {
                    <span>&rarr;</span>
                    var pm = (ChatWatchApp.Models.PrivateMessage)item.Data;
                    @Model.FormatName(pm.Recipient);
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Server)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Content)
            </td>
        </tr>
}
    </tbody>
</table>
