@page
@using ChatWatchApp.Pages;
@model DashLogModel

@{
    ViewData["Title"] = "Event Log";
}

<h1>Message log</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Player Name (&rarr; Recipient Name)</th>
            <th>Server of Origin</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entries) {
        <tr class="@(
            item.Type == EventLogEntry.EntryType.PrivateMessage ?
                "bg-warning bg-gradient " :
                ""
        )">
            <td>
                @Html.DisplayFor(modelItem => item.Data.Timestamp)
            </td>
            <td>
                <a asp-area="Admin" asp-page="ManagePlayer" asp-route-id="@item.Data.Sender.ID">@Model.FormatName(item.Data.Sender)</a>
                @if(item.Type == EventLogEntry.EntryType.PrivateMessage) {
                    <span>&rarr;</span>
                    var pm = (ChatWatchApp.Models.PrivateMessage)item.Data;
                    <a asp-area="Admin" asp-page="ManagePlayer" asp-route-id="@pm.Recipient.ID">@Model.FormatName(pm.Recipient)</a>;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Server)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Content)
            </td>
        </tr>
}
    </tbody>
</table>
